@charset "UTF-8";


.button {
    background-color:#fdf2fc;
    color: #8080c0;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    
  }
  
  .button:hover {
      background-color:#ff8080;
      transition: 0.7s;
  }
   .button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #c0c0c0;
}