@charset "UTF-8";

ul.sliding-menu, ul.sliding-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.sliding-menu li {
  position: relative;
}

ul.sliding-menu li > a {
  display: block;
}

ul.sliding-menu ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
}

ul.sliding-menu li:hover > ul {
  display: block;
}

 /* 위에 메뉴 부분 옮기기 */
ul.navbar-nav {
	background-color: #FFFFFF;
	transform: translateX(-150px);
	
}


 /* body 부분 배경색 */ 
 body {
    background-color: #FFFFFF; /* 원하는 배경색을 설정하세요. */
      
}

.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out;
}

/* 헤더 감추기 */
header.sticky {
  position: fixed;
  top: -100%; /* 헤더 높이만큼 감추기 위해 -100%로 변경 */
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: top 0.3s; /* 부드러운 애니메이션 효과를 위한 설정 */
}

.header h2 {
  margin: 0;
  padding: 0 15px;
  text-align: left;
  font-size: 35px;
}

/* 로고의 크기를 변경시키려면 여기 */
.header a.logo {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header a.logo div {
  font-size: 30px;
  padding: 5px 3px;
  transition: background-color 0.3s ease;
}

/* 상단 헤더에 위치한 span 태그에 대한 스타일 추가 */
.header span {
  margin: 0;
  padding: 0 15px;
  font-family: 'Alex Brush';
  font-size: 20px;
  margin-left: auto;
  position: fixed;
  top: 35px;
}


.dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  margin: 0;
  border: 0;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #1d643b;
  text-decoration: none;
  background-color: #f8f9fa;
}



.header .header-title {
  text-align: center;
}

.header a:last-child {
  margin-right: 15px; /* 5px에서 15px로 수정 */
}

.header a:hover {
  background-color: #333;
  color: #fff;
}

.menu-toggle {
  display: flex;
  padding: 15px;
  position: fixed;
  top: 55px;
  right: 45px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1001;
 /*  font-family: 'Alex Brush';
  font-size: 20px; */
  display: inline-block;
  cursor: pointer;
}

.menu-toggle.scrolled {
  color: #fff;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px 0;
  transition: background-color 0.3s ease-in-out;
}



/* 햄버거 아이콘 활성화 상태 스타일 */
.menu-toggle.active .bar:first-of-type {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-toggle.active .bar:nth-of-type(2) {
  opacity: 0;
}

.menu-toggle.active .bar:last-of-type {
  transform: rotate(-45deg) translate(4px, -4px);
}

.menu-toggle a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin: 0 15px 0 0;
  transition: background-color 0.3s ease;
  padding: 10px 5px;
}

.menu-toggle.scrolled {
  color: #ffffff;
}



/* @media screen and (max-width: 768px) {
  .menu-toggle a {
    display: block;
    margin: 5px 0;
  }
} */


@media (min-width: 768px) { /* 768px 이상인 경우에만 햄버거 버튼을 표시함 */
  .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .menu-toggle .bar {
    /* 햄버거 아이콘의 스타일을 지정 */
  }
}

.sliding-menu {
  text-decoration: none; 
  position: fixed;
  top: 50px;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: right 1.0s ease;
  z-index: 999;
  font-weight: bold;
  overflow-y: auto;
  padding-bottom: 50px;
}

.sliding-menu.open {
  right: 0;
}

.sliding-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.sliding-menu.open + .sliding-menu-overlay {
  display: block;
}

.sliding-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.sliding-menu > ul > li {
  text-align: center; /* 가운데 정렬 추가 */
}

.sliding-menu li {
  text-align: center;
}
.sliding-menu  li hr {
  margin: 10px 0;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.sliding-menu  a {
	margin: 0 5px;
	 text-decoration: none;
     color: inherit;
}


li {
  display: flex;
  justify-content: center;
}

.header span {
  margin-right: auto;
}

.header .header-links {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  margin-right: 40px;
}

.header .header-links a:last-child {
  margin-right: 0; /* 이전에 15px이었던 margin-right 값을 0으로 변경 */
}

.header .header-links a:not(:last-child) {
  margin-right: 15px;
}

.navbar navbar-expand-lg navbar-light bg-light {
   background-color: none;
}

#main-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0; /* 변경된 부분 */
  padding: 0; /* 변경된 부분 */
}

#main-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 버티컬 슬라이더 */
/* #vertical-slider {
    width: 100%;
}

#vertical-slider div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#vertical-slider img {
    width: 100%;
    max-width: 100%;
    display: block;
}
 */
 
 


body {
	padding-top: 80px; /* 헤더 높이만큼 패딩 추가 */
}

li {
  display: flex;
  justify-content: center;
}

.logo {
	font-family: 'EB Garamond', serif;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 80px;
  background-size: cover;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
}


.logo-text span {
  display: block;
}


/* 드롭다운 메뉴 */
.dropdown-menu {
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}

 /* 스크롤바 숨기려고 설정을했는데 안숨겨짐 */
.dropdown-menu::-webkit-scrollbar {
  display: none;
}



.dropdown:hover>.dropdown-menu {
  display: block;
  overflow-x: hidden;
} /* 추가된 부분 */


@media (max-width: 991.98px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}


/* 드롭다운 부분 */ 
.nav-link {
  padding-left: 10px; /* 원하는 값으로 변경 */
  font-size: 20px; /* 원하는 크기로 변경 */
}


.nav-link.dropdown-toggle::after {
    display: none;
}



.nav-link:hover,
.nav-item.show .nav-link {
  background-color: transparent !important;
  color: inherit !important;
}



.navbar-nav {
  margin-bottom: 0;
  overflow: visible;
}

.nav-item {
  margin-bottom: 0;
}

/*  .navbar-toggler {
  border-color: transparent;
} 
 */
/* .navbar-toggler:not(.collapsed) {
  outline: none;
} */


/* .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
  color: inherit !important;
} */

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
}


 /* 이미지에 캡션(글자) 넣기 */ 
.item {
  position: relative;
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}


.caption {
  position: absolute;
  bottom: 50%;
  left: 30px;
  transform: translateY(30%);
  width: 100%;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  box-sizing: border-box;
}

.subcaption {
  position: absolute;
  top: calc(50% + 25px);
  left: 30px;
  color: #fff;
  transform: translateY(30%);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  box-sizing: border-box;
}


@media screen and (max-width: 991.98px) {
  /* 화면 크기가 768px 이하일 때 캡션과 서브 캡션 숨기기 */
  .caption, .subcaption {
    visibility: hidden;
  }
}



/*   font-family: 'Nanum Gothic', sans-serif; */


/* h3 과 웨딩홀 메시지 편집 */
h3 {
	text-align: center;
  	font-family: 'Cormorant Garamond', serif;
  	/* font-size: 100px; 폰트 크기를 지정해주세요. */
  	background-color: #f7f5ef;
  	padding: 50px 0;
  	margin: 0px;
}

div.wedding-hole h3 {
    font-size: 4em;
    background-color: #f7f5ef;
    margin: 0px;
  }
  
 /* 여백없애기 */
.wedding-hole {
  margin-bottom: 0;
  padding-bottom: 0;
}


/* VIP h4 */ 
.VIP {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.VIP h4 {
    font-size: 4em;
    background-color: #f7f5ef;
    margin: 0px;
  }

h4 {
	text-align: center;
  	font-family: 'Cormorant Garamond', serif;
  	/* font-size: 100px; 폰트 크기를 지정해주세요. */
  	background-color: #f7f5ef;
  	padding: 50px 0;
  	margin: 0px;
}

h5{
	text-align: center;
  	font-family: 'Cormorant Garamond', serif;
	font-size: 4em;
	background-color: #F8E6E6;
	padding: 50px 0;
  	margin: 0px;
}


/* ._img_box {
  display: flex;
  flex-wrap: wrap;
}

.img_wrap {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 */
 
.gallery {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5px;
   background-color: #f7f5ef;
   padding: 5px;
}

.gallmain h2{
	margin:auto;
	width:1200px;
	text-align: center;
}

.gallmain{
	 background-color: #f7f5ef;
}

._item {
  flex-basis: calc(25% - 5px);
  margin: 0px;
}

.img_wrap {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px;
}

.text_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

._lightbox_item:hover .text_wrap {
  display: table;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

.slide_overlay {
  background-color: transparent;
}

VIP-watching {
	font-size: 3em;
	font-family: 'Nanum Gothic', sans-serif;
    background-color: #f7f5ef;
    margin: 0px;
}


 
 

