@charset "UTF-8";

ul.sliding-menu, ul.sliding-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.sliding-menu li {
  position: relative;
}

ul.sliding-menu li > a {
  display: block;
}

ul.sliding-menu ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
}

ul.sliding-menu li:hover > ul {
  display: block;
}

 /* 위에 메뉴 부분 옮기기 */
ul.navbar-nav {
	background-color: #FFFFFF;
	transform: translateX(-150px);
}


 /* body 부분 배경색 */ 
 body {
    background-color: #FFFFFF; /* 원하는 배경색을 설정하세요. */
}




.header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out;
}

/* 헤더 감추기 */
header.sticky {
  position: fixed;
  top: -100%; /* 헤더 높이만큼 감추기 위해 -100%로 변경 */
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: top 0.3s; /* 부드러운 애니메이션 효과를 위한 설정 */
}

.header h2 {
  margin: 0;
  padding: 0 15px;
  text-align: left;
  font-size: 35px;
}

/* 로고의 크기를 변경시키려면 여기 */
.header a.logo {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header a.logo div {
  font-size: 30px;
  padding: 5px 3px;
  transition: background-color 0.3s ease;
}
/* test2 */
/* 상단 헤더에 위치한 span 태그에 대한 스타일 추가 */
.header span {
  margin: 0;
  padding: 0 15px;
  font-family: 'Alex Brush';
  font-size: 20px;
  margin-left: auto;
  position: fixed;
  top: 35px;
}





.dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  margin: 0;
  border: 0;
  text-decoration: none;
}




.dropdown-item:hover {
  color: #1d643b;
  text-decoration: none;
  background-color: #f8f9fa;
}



.header .header-title {
  text-align: center;
}

.header a:last-child {
  margin-right: 15px; /* 5px에서 15px로 수정 */
}

.header a:hover {
  background-color: #333;
  color: #fff;
}


/* 토글 모양  */
.menu-toggle {
  display: flex;
  padding: 15px;
  position: fixed;
  top: 55px;
  right: 45px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1001;
 /*  font-family: 'Alex Brush';
  font-size: 20px; */
  display: inline-block;
  cursor: pointer;
  color: #000;
}

/* 스크롤 내리면 색상변경 */
.menu-toggle.scrolled {
  color: #ffffff;
}

.menu-toggle .bar {
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  background-color: #000; /* 검정색으로 지정 */
}

.menu-toggle.scrolled .bar {
  background-color: #fff; /* 스크롤 내릴 때 흰색으로 변경 */
}


/* 햄버거 아이콘 활성화 상태 스타일 */
.menu-toggle.active .bar:first-of-type {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-toggle.active .bar:nth-of-type(2) {
  opacity: 0;
}

.menu-toggle.active .bar:last-of-type {
  transform: rotate(-45deg) translate(4px, -4px);
}

.menu-toggle a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin: 0 15px 0 0;
  transition: background-color 0.3s ease;
  padding: 10px 5px;
}


@media (min-width: 768px) { /* 768px 이상인 경우에만 햄버거 버튼을 표시함 */
  .menu-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .menu-toggle .bar {
    /* 햄버거 아이콘의 스타일을 지정 */
  }
}


/* 슬라이딩 메뉴 */
.sliding-menu {
  text-decoration: none; 
  position: fixed;
  top: 50px;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: right 1.0s ease;
  z-index: 999;
  font-weight: bold;
  overflow-y: auto;
  padding-bottom: 50px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.sliding-menu.open {
  right: 0;
}

.sliding-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.sliding-menu.open + .sliding-menu-overlay {
  display: block;
}

.sliding-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.sliding-menu > ul > li {
  text-align: center; /* 가운데 정렬 추가 */
}

.sliding-menu li {
  text-align: center;
}
.sliding-menu  li hr {
  margin: 10px 0;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.sliding-menu  a {
	margin: 0 5px;
	text-decoration: none;
    color: inherit;
}

.sliding-menu li ul li a {
  cursor: pointer;
}


li {
  display: flex;
  justify-content: center;
}

.header span {
  margin-right: auto;
}

.header .header-links {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  margin-right: 40px;
}



.header .header-links a:last-child {
  margin-right: 0; /* 이전에 15px이었던 margin-right 값을 0으로 변경 */
}

.header .header-links a:not(:last-child) {
  margin-right: 15px;
}


.navbar navbar-expand-lg navbar-light bg-light {
   background-color: none;
}

/* 헤더부분 메뉴 폰트 변경 */
.navbar .navbar-nav .dropdown .dropdown-toggle {
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .dropdown .dropdown-menu li a {
  font-family: "Montserrat", sans-serif;
}


/* .dropdown-menu 요소 내부에 있는 스크롤바만 숨김 */
.navbar .navbar-nav .dropdown .dropdown-menu::-webkit-scrollbar {
  display: none;
}

#modal-open {
  font-family: "Montserrat", sans-serif;
}

#main-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0; /* 변경된 부분 */
  padding: 0; /* 변경된 부분 */
}

#main-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



 /* 팝업창 만들기 */

.popup-container {
display: none;
position: fixed;
z-index: 999;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
}

.popup-box {
  width: 500px;
  height: 550px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.popup-box h2 {
margin-top: 0;
font-size: 24px;
font-weight: bold;
color: #333;
}

.popup-close {
position: absolute;
top: 10px;
right: 10px;
width: 30px;
height: 30px;
background-color: #ccc;
border-radius: 50%;
color: #fff;
font-size: 20px;
line-height: 30px;
text-align: center;
cursor: pointer;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center; /* label의 텍스트 정렬 */
}

form input[type=text],
form input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #ccc;
transition: 0.5s;
outline: none;
}

form input[type=text]:focus,
form input[type=password]:focus {
border-bottom: 2px solid #FFDAB9;
}

form input[type=submit] {
background-color: #FFDAB9;
color: #fff;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
transition: 0.5s;
font-size: 20px;
font-weight: bold;
}

form input[type=submit]:hover {
background-color: #f8f8f8;
color: #FFDAB9;
border: 2px solid #FFDAB9;
}

/* 추가된 스타일 */
form input[type=text],
form input[type=password],
form input[type=submit] {
  display: block; /* input 요소들이 한 줄에 나오지 않고 블록 요소처럼 표시 */
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
}

label[for="username"], label[for="password"] {
  text-transform: uppercase; /* label 텍스트 대문자로 변경 */
  margin-bottom: 5px; /* label 간격 줄임 */
}



.green-wedding {
  font-family: 'Castoro Titling', cursive;
  font-size: 80px;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.links {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFDAB9 !important;
  font-size: 15px;
}

.links a {
  color: #FFDAB9;
  text-decoration: none;
  border-bottom: none;
}


body {
	padding-top: 80px; /* 헤더 높이만큼 패딩 추가 */
}

li {
  display: flex;
  justify-content: center;
}

.logo {
	font-family: 'EB Garamond', serif;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 80px;
  background-size: cover;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
}


.logo-text span {
  display: block;
}


/* 드롭다운 메뉴 */
.dropdown-menu {
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  overflow-y: auto;
  margin-right: auto;
  -ms-overflow-style: none;
  scrollbar-width: auto;
  max-height: 300px;
  max-width: 200px; 
}


.dropdown-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dropdown-menu::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome, Safari */
}

.dropdown-menu ul {
  max-height: none;
  overflow-y: hidden;
}


.dropdown:hover>.dropdown-menu {
  display: block;
  overflow-x: hidden;
} /* 추가된 부분 */


@media (max-width: 991.98px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}


/* 드롭다운 부분 */ 
.nav-link {
  padding-left: 10px; /* 원하는 값으로 변경 */
  font-size: 20px; /* 원하는 크기로 변경 */
}


.nav-link.dropdown-toggle::after {
    display: none;
}



.nav-link:hover,
.nav-item.show .nav-link {
  background-color: transparent !important;
  color: inherit !important;
}



.navbar-nav {
  margin-bottom: 0;
  overflow: visible;
}

.nav-item {
  margin-bottom: 0;
}


/* owl-carousel 부분 */
/* 첫 화면 이미지가 깨지지 않게 조절*/
/* 근데 어짜피 이미지가 너무 커서 깨지긴 함*/
.owl-carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .item img {
  width: 100%;
  height: 100%;
 /*  max-width: 100%;
  max-height: 100%; */
 object-fit: contain;
 /*  filter: brightness(1.2) contrast(1.2); */
}

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
}


 /* 이미지에 캡션(글자) 넣기 */ 
.item {
  position: relative;
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}


.caption {
  position: absolute;
  bottom: 50%;
  left: 30px;
  transform: translateY(30%);
  width: 100%;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  box-sizing: border-box;
}

.subcaption {
  position: absolute;
  top: calc(50% + 25px);
  left: 30px;
  color: #fff;
  transform: translateY(30%);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  box-sizing: border-box;
}

.subcaption02 {
  position: absolute;
  top: calc(50% + 50px); /* 서브캡션보다 20px만큼 아래로 */
  left: 30px;
  color: #fff;
  transform: translateY(30%);
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px; /* 폰트 크기를 조정해 보세요 */
  font-weight: normal;
  text-align: left;
  box-sizing: border-box;
}



@media screen and (max-width: 991.98px) {
  /* 화면 크기가 768px 이하일 때 캡션과 서브 캡션 숨기기 */
  .caption, .subcaption, .subcaption02{
    visibility: hidden;
  }
}


/* h3 과 웨딩홀 메시지 편집 */
h3 {
	text-align: center;
  	font-family: 'Cormorant Garamond', serif;
  	/* font-size: 100px; 폰트 크기를 지정해주세요. */
  	background-color: #f7f5ef;
  	padding: 50px 0;
  	margin: 0px;
}

div.wedding-hole h3 {
    font-size: 4em;
    background-color: #f7f5ef;
    margin: 0px;
  }
  
 /* 여백없애기 */
.wedding-hole {
  margin-bottom: 0;
  padding-bottom: 0;
}


/* VIP h4 */ 
.VIP {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.VIP h4 {
    font-size: 4em;
    background-color: #f7f5ef;
    margin: 0px;
  }


.VIP-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
    background-color: #f7f5ef;
  }
  
.VIP-margin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0;
    background-color: #f7f5ef;
    
  }
  
.VIP-event {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7f5ef;
    color: #a06303;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #a06303;
    border-radius: 10px;
  }
  

h4 {
	text-align: center;
  	font-family: 'Cormorant Garamond', serif;
  	font-size: 100px; 
  	background-color: #f7f5ef;
  	padding: 50px 0;
  	margin: 0px;
} 


.CATERRING h5 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  background-color: #F2E8DB;
  margin: 0;
  padding: 0;
}

/* 화면 크기가 줄어들면 마진과 패딩은 auto로 설정 */
@media only screen and (max-width: 1000px){
	.CATERRING{
	margin: auto;
	padding: auto;
	}
	
}


.gallery {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 0px;
   background-color: #f7f5ef;
   padding: 5px;
}

.gallmain h2{
	margin:auto;
	width:1174px;
	text-align: center;
}

.gallmain{
	 background-color: #f7f5ef;
}

._item {
  flex-basis: calc(25% - 5px);
  margin: 0px;
}

.img_wrap {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px;
  padding-bottom: 78%;
  object-fit: cover;
} 

/* .img_wrap {
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100%;
  object-fit: contain;
} */


.text_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

._lightbox_item:hover .text_wrap {
  display: table;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}

/* test */
.slide_overlay {
  background-color: transparent;
}


/* 카테링 부분 */
.caterring {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 0px;
   background-color: #F2E8DB;
   padding: 5px;
}

.catemain h2{
	margin:auto;
	width:1174px;
	text-align: center;
	background-color: #F2E8DB;
	
}


.catemain{
	 background-color: #F2E8DB;
}

@media only screen and (max-width: 1000px) {
 .catemain {
 	margin: auto;
 	padding: auto;  
 }	
 .catemain h2{
	margin:auto;
	padding:auto;
	text-align: center;
	background-color: #F2E8DB;
	margin: auto;
	padding: auto;
	}
}

/* 이벤트 부분 */
.EVENT h6 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.-my-owl-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
}

/* 이미지 사이즈를 변경할꺼면 여기 */
.-my-owl-carousel .item {
  width: calc(100% / 3 - 100px);
  margin: auto;
  width:  400px;
  height: 400px;
  background-color: #FFFFFF;
  box-sizing: border-box; /* 추가 */

}

.-my-owl-carousel .item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.-my-owl-carousel .owl-item {
  max-width: 100%;
  max-height: 100%;
  float: left;
}


/* 화면 크기가 작아지면 마진은 auto로 설정 */
@media only screen and (max-width: 1000px) {
  .-my-owl-carousel {
    margin-left: auto;
  	margin-right: auto;
  }
  .-my-owl-carousel .item {
  	margin: : auto;
  }
  
  .-my-owl-carousel .item img{
  	margin: : auto;
  }
  
}

.-my-owl-carousel .owl-nav {
  display: none;
}

/* 밑의 점 기능을 키고 싶다면 display를 block 으로 변경 */
.-my-owl-carousel .owl-dots {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.-my-owl-carousel .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}


.-my-owl-carousel .owl-dot.active {
  background-color: #000;
}

.Event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
    background-color: #FFFFFF;
  }
  
  .Event-margin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0;
  }
  
  .btn-event {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #a06303;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #a06303;
    border-radius: 10px;
  }
  
/* LOCATION 부분*/
.LOCATION h7 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카카오 웹 API 사용 */
#map {
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

@media only screen and (max-width: 1000px) {
	#map {
		margin: auto;
	}
}


/* location 이미지를 사용하고 싶으면 이렇게 */
/* .image-location {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image-location img {
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
} */

.map-margin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
}

.map-margin p {
  font-weight: bold;
  text-align: center;
  margin: 10px;
}


