<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mypage">  
   
   <!-- 내 견적서   -->
   <select id         = "EstiList"
           resultType = "com.green.mypage.vo.MypageVo"  >
   
  SELECT  ES.ESTIID, 
          ES.ESTINAME,
          ES.MEMID,
          ES.RESDATE,
          ES.RESTIME,
          ES.GUESTNUM, 
          HA.HALLNAME,
          CA.CATERINGTYPE,
          STU.STUDIONAME,
          DR.DRESSNAME,
          ES.TOTALCOST
  FROM    ESTIMATES ES join HALL HA on ES.hallid = HA.hallid
          join CATERING CA on ES.cateringid = CA.cateringid
          join STUDIO STU on ES.studioid = STU.studioid
          join DRESS DR on ES.DRESSID = DR.DRESSID
  WHERE   ES.MEMID = #{ memid }

    
   </select> 
   
 
  <delete id="MyestiDelete" >

		DELETE FROM ESTIMATES
		WHERE  ESTIID = #{ estiid }

	</delete>
 
    
</mapper>





   